In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
raw_data = pd.read_csv("02. crime.csv")
raw_data.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생 절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65  1,395   477  1,355  1,170
1   종로서      3      3      6      5    115     98  1,070   413  1,278  1,070
2  남대문서      1      0      6      4     65     46  1,153   382    869    794
3  서대문서      2      2      5      4    154    124  1,812   738  2,056  1,711
4   혜화서      3      2      5      4     96     63  1,114   424  1,015    861

In [ ]:
crime_anal = pd.pivot_table(cr)